<div *ngIf="getFormName() !== null"
     style="margin-top: 100px; margin-bottom: 100px;">
  <ngx-extended-pdf-viewer
    [(page)]="page"
    [(pageLabel)]="pageLabel"
    [height]="'511px'"
    [showDownloadButton]="false"
    [showHandToolButton]="true"
    [showPresentationModeButton]="true"
    [src]="getFormName()"
    [textLayer]="true"
    [useBrowserLocale]="true"
  >
    <!--    assets/FR00f0001-2022-07-28.pdf-->
  </ngx-extended-pdf-viewer>

  <div *ngIf="updates.afgehandeld === 'pending'"  class="me-auto mb-2 mb-lg-0 nav nav-pills"
       style="position: relative; margin-left: 500px; margin-top: 7px;">
    <button (click)="accept()"
            class="btn btn-primary nav-link" style="background: #0d6efd; color: #ffffff;">
      Accepteren
    </button>
    <button (click)="deny()"
            class="btn btn-primary nav-link" style="background: #c0392b; color: #ffffff;">
      Afkeuren
    </button>
    <button (click)="navigateToClaims()" class="btn btn-primary nav-link">
      Later bewerken
    </button>
  </div>

</div>
